.tweet-textarea{
    width: 80vh;
    height: 10vh;
}
::placeholder { 
    font-size: 1.2em;
    font-weight: 400; 
}
h4 {
    border: red 3px inset;
    padding: 1pc;
    background-color: pink;
    animation: blinking-light 4s infinite alternate;
}
@keyframes blinking-light {
    50% {
        background-color: maroon;
        color: white;
    }
}
.image-uploader-contaner {
    border-radius: 2pc;
    padding: 3pc;
    box-shadow: 0 0 4px #000000;
}
.image-uploader-contaner h1 {
    position: relative;
    top: -1em;
    font-weight: bolder;
    font-family: "Lucida Console", monospace;
}
.file-data {
    font-family: "Lucida Console", monospace;
    font-size: 20px;
}
.bio-textarea {
    width: 65vh;
    height: 12vh;
    padding: 1%;
    font-size: 1pc;
    background-color: rgba(226, 226, 250, 0.486);
}
.create-profile-containter, .update-profile-containter {
    border-radius: 2pc;
    padding: 3pc;
    box-shadow: 0 0 4px #000000;
}
.create-profile-containter input, .update-profile-containter input {
    background-color: rgba(226, 226, 250, 0.486);
    width: 65vh;
    height: 5vh;
    display: flex;
}
.create-profile-containter h2 {
    position: relative;
    top: -1em;
    font-weight: bolder;
    font-family: "Lucida Console", monospace;
}
.edit-tweet-container {
    position: relative;
    bottom: -50%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 5px black;
    width: 40pc;
    padding: 3pc;
}
.edit-tweet-container label, .update-profile-containter label{
    font-size: x-large;
    font-family: "Lucida Console", monospace;
}
.edit-tweet-container textarea, .update-profile-containter textarea{
    background-color:  rgba(226, 226, 250, 0.486);
    width: 30pc;
    height: 5pc;
    font-size: larger;
}
.edit-tweet-container button, .update-profile-containter button{
    float: right;
}