.tweet-box {
    border-top:    1px solid rgb(209, 208, 208);
    border-right:  1px solid rgb(209, 208, 208); 
    border-left:  1px solid rgb(209, 208, 208); 
    border-bottom: 10px solid rgb(209, 208, 208);
    padding: 0.5pc;
}
.tweet-image{
    width: 10vh;
    border-radius: 50%;
}
.tweet-date{
    display: inline;
    margin: 2pc;
}
#tweet-container{
    display: inline-block;
    margin-left: 1pc;
    width: 30pc;
}
.tweet-edit-delete-button{
    display: flex;
    justify-content: space-around;
}
.user-profile-container {
    width: 100vh
}