.navbar-container {
    display: flex;
    justify-content: space-evenly;
}
#dashboard-header {
    color: #1DA1F2;
    position: relative;
    top: 0;
    left: 150px;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 1px 1px #585757;
}