.navbar-list {
    position: absolute;
    left: 0;
    bottom: 50%;
    margin-left: 1pc;
    font-size: large;
    width: 15vh;
}
ul {
    list-style: none;
}
li {
    margin: 10px 0;
    font-size: larger;
}
